<?xml version="1.0"?>

<launch>

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_2">
    <param name="port" value="/dev/ttyUSB2"/>
    <param name="baud" value="57600"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0.1 3.14 0 0  base_link /sonar_ranger 100" /> 




</launch>

